body {
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #e8eaf6;
  line-height: 1.6;
  font-size: 18px;
}

.featurette-divider {
  margin: 5rem 0;
}

#page-title {
  text-align: center;
}

blockquote.blockquote {
  border-left: 6px solid #3131e0;
  border-radius: 6px;
  padding-left: 16px;
  background-color:  #c0c0f0;
}

#map {
  height: 800px;
  width: auto;
}

.post {
  background-color: #C5E1A5;
  margin: 5px 5px 5px 5px;
  border: 2px solid #FFB300;
  padding: 2px;
  display:table;
}

.postInfo {
  display: block;
  width: 100%;
}

.nick {
  color: #FFB300;
}

.postComment {
  display: block;
  padding-top: 10px;
  color: #333333;
}

.postImageContainer {
  float: left;
  padding: 5px 5px 5px 5px;
}

.postImage {
  max-width: 250px;
  height: auto;
}

.postImageBig {
  max-width: 750px;
  height: auto;
}

.quote {
  color: green;
}

.postForm {
  background-color: #FCE4EC;
  margin: 5px 5px 5px 5px;
  border: 2px solid #FFB300;
  padding: 2px;
  display:table;
  width: 500px;
}

#newthread-form {
  visibility: hidden;
}

#altLabel {
  display:none;
}
#alt {
  display:none;
}

.threadSubject {
  margin: auto;
  width: 50%;
  text-align: center;
  color: #5a5a5a;
  font-size: 30px;
}

.tag {
  background-color: #FFB300;
  border-radius: 4px;
  padding: 2px;
}
