body {
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #e8eaf6;
  line-height: 1.6;
  font-size: 18px;
}

.featurette-divider {
  margin: 5rem 0;
}

#page-title {
  text-align: center;
}

blockquote.blockquote {
  border-left: 6px solid #3131e0;
  border-radius: 6px;
  padding-left: 16px;
  background-color:  #c0c0f0;
}

#map {
  height: 800px;
  width: auto;
}

.post {
  background-color: #C5E1A5;
  margin: 5px 5px 5px 5px;
  border: 2px solid #FFB300;
  padding: 2px;
  display: table;
}

.post-info {
  display: block;
  width: 100%;
}

.nick {
  color: #FFB300;
}

.post-comment {
  display: block;
  padding-top: 10px;
  color: #333333;
}

.post-image-container {
  float: left;
  padding: 5px 5px 5px 5px;
}

.post-image {
  max-width: 250px;
  height: auto;
}

.post-image-big {
  max-width: 750px;
  height: auto;
}

.quote {
  color: green;
}

.quote-link {
  background-color: #FCE4EC;
  padding: 2px;
  text-align: center;
  color: #5a5a5a;
  font-size: 10px;
  border-radius: 12px;
  border: 2px solid DodgerBlue;
}

.quote-link:focus {
  background-color: #FCE4EC;
  padding: 2px;
  text-align: center;
  color: #5a5a5a;
  font-size: 10px;
  border-radius: 12px;
  border: 2px solid DodgerBlue;
}

.post-form {
  background-color: #FCE4EC;
  margin: 5px 5px 5px 5px;
  border: 2px solid #FFB300;
  padding: 2px;
  display: table;
  width: 500px;
}

#newthread-form {
  visibility: hidden;
}

#alt-label {
  display:none;
}

#alt {
  display:none;
}

a.preview-link {
  text-decoration: none;
  color: unset;
}

.thread-subject {
  margin: auto;
  width: 50%;
  text-align: center;
  color: #5a5a5a;
  font-size: 30px;
}

.tag {
  background-color: #FFB300;
  border-radius: 4px;
  padding: 2px;
}

.on {
}

.off {
  display: none;
}

.post-menu-div {
  display: inline;
}

a.post-menu-link {
  text-decoration: none;
  color: green;
}
