body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #e8eaf6;
  line-height: 1.6;
  font-size: 18px;
}

.featurette-divider {
  margin: 5rem 0;
}

#page-title {
  text-align: center;
}

blockquote.blockquote {
  border-left: 6px solid #3131e0;
  border-radius: 6px;
  padding-left: 16px;
  background-color:  #c0c0f0;
}

#map {
  height: 800px;
  width: 600px;
}

.post {
  background-color: #C5E1A5;
  margin: 5px 5px 5px 5px;
  border: 2px solid #FFB300;
  padding: 2px;
  display:table;
}

.postInfo {
  display: block;
  width: 100%;
}

.postComment {
  display: block;
}

.postImage {
  float: left;
  padding: 5px 5px 5px 5px;
}

